@import url('https://fonts.googleapis.com/css2?family=Nunito&family=PT+Sans&display=swap');

* {
    box-sizing: border-box;
    color: white;
}

:root {
    --background-main: #003f5c;
    --background-secondary: #36537b;
    --solution-row: #646697;
    --button-main: #895c74;
    --button-main-hover: #f5a0c8;
    --button-secondary: #572d44;
    --button-secondary-hover: #c58bbe;
    --selection-no-colour: white;
    --selection-1-colour: red;
    --selection-2-colour: orange;
    --selection-3-colour: yellow;
    --selection-4-colour: green;
    --selection-5-colour: blue;
    --selection-6-colour: purple;
    --feedback-1-colour: white;
    --feedback-2-colour: black;
}

header {
    background: var(--background-main);
    font-family: 'Nunito', sans-serif;
    padding: 2em;
    text-align: center;
}

body {
    font-family: 'PT Sans', sans-serif;
}

main {
    background: var(--background-main);
    display: grid;
    grid-template-columns: 20em 10em 15em;
    grid-template-rows: 3fr 12fr 1fr 1fr;
    align-content: center;
    justify-content: center;
}

.selection {
    padding: 1em 1em 0 0;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 3em 3em;
}

.selection-pins {
    height: 5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.selection div div {
    width: 2em;
    height: 2em;
    border: 1px solid color;
    border-radius: 50%;
}

.message-board {
    padding: 1em 0 0 1em;
    text-align: justify;
    font-size: 18px;
    font-weight: bolder;
    grid-row: 1 / 2;
    grid-column: 2 / 4;
}

.game-board {
    padding: 0 1em 0 0;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    gap: 5px;
}

.guess-pin,
.solution-pin {
    border: 1px solid color;
    border-radius: 50%;
    width: 2em;
    height: 2em;
}

.solution-row {
    grid-row: 3 / 4;
    margin-top: 1em;
    padding-right: 1em;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    gap: 5px;
}

.feedback-board {
    padding: 0 1em 0 1em;
    width: 5em;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background: var(--background-secondary);
    display: grid;
    grid-template-rows: repeat(24, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    gap: 5px;
}

.feedback-pin {
    border: 1px solid color;
    border-radius: 50%;
    width: 0.75em;
    height: 0.75em;
    border: 1px solid black;
}

.scoreboard {
    padding-left: 1em;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

button {
    font-family: 'PT Sans', sans-serif;
}

.another-round-button {
    margin: 1em 1em 0 0;
    height: 3em;
    background: var(--button-main);
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}

.another-round-button:hover {
    background: var(--button-main-hover);
}

.restart-button {
    margin: 1em 0 0 1em;
    height: 3em;
    background-color: var(--button-secondary);
    grid-row: 4 / 5;
    grid-column: 2 / 4;
}

.restart-button:hover {
    background: var(--button-secondary-hover);
}
