@import url('https://fonts.googleapis.com/css2?family=Nunito&family=PT+Sans&display=swap');

* {
    box-sizing: border-box;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

:root {
    --background-main: #002b3f;
    --solution-row: #646697;
    --button-main: #005467;
    --button-main-hover: #003f4d;
    --button-secondary: #00817e;
    --button-secondary-hover: #00615e;
    --selection-no-colour: #5b656e;
    --selection-1-colour: rgb(135, 17, 17);
    --selection-2-colour: rgb(141, 95, 10);
    --selection-3-colour: rgb(138, 138, 12);
    --selection-4-colour: rgb(9, 62, 9);
    --selection-5-colour: rgb(6, 6, 76);
    --selection-6-colour: rgb(37, 4, 37);
    --feedback-1-colour: white;
    --feedback-2-colour: black;
    --feedback-no-colour: #5b656e;
}

header {
    font-family: 'Nunito', sans-serif;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    width: 70em;
    margin: auto;
}
.header-copy {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    justify-content: center;
}

h1 {
    font-size: 40px;
    grid-row: 1 / 2;
}

.sub-heading {
    font-family: 'PT Sans', sans-serif;
    grid-row: 2 / 3;
}

.header-images {
    display: grid;
    justify-content: center;
}

.header-image {
    height: 300px;
    width: 300px;
}

button {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    background: var(--background-main);
    color: white;
    margin-top: 2em;
    padding: 0.5em 1em 0.5em 1em;
    width: auto;
    height: auto;
    display: inline;
}

button:hover {
    cursor: pointer;
}

.get-started,
.how-to-play {
    grid-row: 3 / 4;
}

.get-started:hover,
.how-to-play:hover {
    background: var(--button-secondary-hover);
}

h3 {
    font-family: 'Nunito', sans-serif;
}

p {
    margin: 0 0 1em 0;
    font-family: 'PT Sans', sans-serif;
}

li {
    line-height: 150%;
}

span {
    font-weight: bold;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 17fr;
    justify-items: center;
}

.instruction-area {
    grid-row: 1 / 2;
    margin: 2em 5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.instructions-image {
    grid-column: 1 / 2;
}

.instruction-image-file {
    height: 300px;
    width: 300px;
}

.instructions {
    grid-column: 2 / 3;
}

.game-area {
    grid-row: 2 / 3;
    /* background: var(--background-main); */
    display: grid;
    grid-template-columns: 5fr 1fr 3fr;
    grid-template-rows: 50px 50px 60px 100px 600px 100px;
    width: 75%;
}

.game-heading {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

.game-subheading {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
}

.game-buttons {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
}

.another-round-button {
    background: var(--button-main);
}

.another-round-button:hover {
    background: var(--button-main-hover);
}

.restart-button {
    background-color: var(--button-secondary);
}

.restart-button:hover {
    background: var(--button-secondary-hover);
}

.selection-pins {
    padding: 1em 0;
    grid-row: 4 / 5;
    grid-column: 1 / 4;
    display: grid;
    grid-template-rows: 3em 3em;
    height: 5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.selection-pins div {
    width: 2em;
    height: 2em;
    border: 1px solid color;
    border-radius: 50%;
}

.selection-pins div:hover {
    cursor: pointer;
}

.game-board {
    padding: 0 1em 0 0;
    grid-row: 5 / 6;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    gap: 5px;
}

.guess-pin,
.solution-pin {
    border: 1px solid color;
    border-radius: 50%;
    width: 2em;
    height: 2em;
}

.feedback-board {
    padding: 0 1em 0 1em;
    width: 5em;
    grid-row: 5 / 6;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: repeat(24, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    gap: 5px;
}

.feedback-pin {
    border: 1px solid color;
    border-radius: 50%;
    width: 1em;
    height: 1em;
}

.updates {
    padding-left: 1em;
    grid-row: 5 / 6;
    grid-column: 3 / 4;
}

.messages,
.scores {
    font-weight: bold;
    font-size: larger;
}

.solution-row {
    grid-row: 6 / 7;
    grid-column: 1 / 4;
    padding-bottom: 1em;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    gap: 5px;
}

.solution-row h3 {
    padding-top: 1em;
    grid-row: 1 / 2;
    grid-column: 1 / 5;
}
