@import url('https://fonts.googleapis.com/css2?family=Nunito&family=PT+Sans&display=swap');

* {
    box-sizing: border-box;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

:root {
    --button-main: #575757;
    --button-main-hover: #8b8888;
    --button-secondary: #d4c8b2;
    --button-secondary-hover: #d0ccc4;
    --selection-no-colour: #d4c8b2;
    --selection-1-colour: #a75051;
    --selection-2-colour: #b27d58;
    --selection-3-colour: #b3af38;
    --selection-4-colour: #589a5d;
    --selection-5-colour: #4781a7;
    --selection-6-colour: #746198;
    --feedback-1-colour: rgb(255, 255, 255);
    --feedback-2-colour: black;
    --feedback-no-colour: #d4c8b2;
}

body {
    font-family: 'PT Sans', sans-serif;
}

header {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column-reverse;
    column-gap: 2em;
    align-items: center;
    margin: auto;
}

.header-copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 40px;
    grid-row: 1 / 2;
}

.sub-heading {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
}

.header-images {
    display: flex;
    justify-content: center;
}

.header-image {
    height: 75%;
    width: 75%;
}

button {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    background: var(--button-main);
    color: white;
    border: none;
    margin: 1em 0 0 0;
    padding: 0.5em 1.5em;
    display: inline;
}

button:hover {
    cursor: pointer;
    background: var(--button-main-hover);
}

.how-to-play,
.restart-button {
    background: var(--button-secondary);
}

.how-to-play:hover,
.restart-button:hover {
    background: var(--button-secondary-hover);
}

h3 {
    font-family: 'Nunito', sans-serif;
}

li {
    line-height: 150%;
}

span {
    font-weight: bold;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 5fr;
}

.instruction-area {
    grid-row: 1 / 2;
    margin: 2em 0 0 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.instructions-image {
    display: none;
}

.instruction-image-file {
    height: 100%;
    width: 100%;
}

.game-area {
    display: grid;
    grid-template-columns: 5fr 1fr 3fr;
    grid-template-rows: 60px 60px 85px 575px 95px 60px;
    width: 100%;
}

.game-heading {
    margin: 2em 0 0 0;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

.game-subheading {
    align-self: center;
    grid-row: 2 / 3;
    grid-column: 1 / 4;
}

.selection-pins {
    border: 2px solid var(--button-main);
    padding: 1em 0;
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    display: grid;
    grid-template-rows: 3em 3em;
    height: 5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.selection-pins div,
.solution-pin {
    width: 2em;
    height: 2em;
    border: 1px solid color;
    border-radius: 50%;
}

.selection-pins div:hover {
    cursor: pointer;
}

.game-board {
    border: 2px solid var(--button-main);
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}

.guess-pin {
    border: 1px solid color;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
}

.feedback-board {
    background: var(--button-main);
    padding: 0 0.5em;
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    justify-self: center;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    gap: 5px;
}

.feedback-pin {
    border-radius: 50%;
    width: 0.75em;
    height: 0.75em;
}

.updates {
    border: 2px solid var(--button-main);
    padding-left: 1em;
    grid-row: 4 / 5;
    grid-column: 3 / 4;
}

.messages,
.scores {
    font-weight: bold;
    font-size: larger;
}

.solution-row {
    border: 2px solid var(--button-main);
    background: var(--button-main);
    color: white;
    grid-row: 5 / 6;
    grid-column: 1 / 4;
    margin-top: 0.5em;
    padding-bottom: 0.5em;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

.solution-row-heading {
    grid-row: 1 / 2;
    grid-column: 1 / 5;
}

.game-buttons {
    grid-row: 6 / 7;
    grid-column: 1 / 4;
    width: 100%;
    display: flex;
    column-gap: 1em;
    align-items: center;
    justify-content: space-around;
}

.restart-button,
.another-round-button {
    width: 100%;
}

@media (min-width: 768px) {
    header {
        flex-direction: row;
        column-gap: 2em;
        align-items: center;
        margin: auto;
    }

    .main {
        grid-template-rows: 2fr 4fr;
    }

    .game-area {
        grid-template-rows: 60px 60px 90px 580px 100px 60px;
    }

    .instruction-area {
        margin: 0;
    }
}

@media (min-width: 1024px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        width: 95%;
    }

    .header-copy {
        justify-self: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }

    .sub-heading {
        grid-row: 2 / 3;
    }

    .header-images {
        display: grid;
        justify-content: center;
    }

    .header-image {
        height: 90%;
        width: 90%;
    }

    .get-started,
    .how-to-play {
        grid-row: 3 / 4;
    }

    main {
        grid-template-rows: 2fr 4fr;
        justify-items: center;
    }

    .instruction-area {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        width: 95%;
    }

    .instructions-image {
        display: block;
    }

    .instruction-image-file {
        height: 60%;
        width: 60%;
    }

    .game-area {
        width: 80%;
        grid-template-rows: 60px 60px 90px 580px 100px 60px;
    }
}
